@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Signika+Negative&family=Space+Mono&display=swap');

.container-detail {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.titulo-detail {
    text-align: center;
    padding: 3rem;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5rem;
}

.itineraries {
    font-size: 2.5rem;
    font-family: 'Fjalla One', sans-serif;
    padding: 1rem;
    /* border: 1px solid black; */
    width: fit-content;
    height: fit-content;
    margin: 0 auto 3rem;
    background-color: red;
    color: white;


}

.foto-detail {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.description {
    font-size: 1.1rem;
    width: 80%;
    margin: auto;
}

.boton-back {
    width: fit-content;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    margin-left: 1rem;
    padding: .6rem;
}

.boton-back:hover {
    background-color: red;
    color: white;
    border: none;
}

@media (max-width:900px) {
    .itineraries {
        margin: 3rem auto;
    }
}