@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Signika+Negative&family=Space+Mono&display=swap');

.container-padre {
    width: 90%;
    margin: auto;
}

.mapeo-com {
    display: flex;
    flex-wrap: wrap;
    /* background-color: white; */
    justify-content: center;
    margin: 2rem auto;
}

.title-comment {
    text-align: justify;
    display: flex;
    align-items: center;
    margin: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.div-input {
    width: 100%;
}

.coment {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input {
    width: 80%;
    margin: .8rem;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: .8rem auto;
}

.container-coment {
    width: 100%;
    font-size: 1rem;
}

.container-com {
    background-color: rgb(228, 222, 219);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 300px;
    margin: .5rem;
    /* margin: auto; */
}

.foto-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.foto-text-out {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    background-color: rgb(232, 230, 230);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: .2rem;
    margin: .4rem;
}

.container-botones {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.boton-com {
    padding: .4rem;
    margin: .2rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    text-decoration: none !important;
}

.boton-com:hover {
    background-color: red;
    color: white;
}