.navbar {
    margin-top: 1rem;
    box-shadow: none;
    margin-top: 0 !important;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

/* .settings {
    padding: 1px;
    margin-left: 5px;
    width: 20px;
    width: fit-content;
} */

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    /* width: 50px; */
    padding: 5px;
}

.MuiButton-textSizeMedium {
    color: white !important;
}

.a-respon {
    text-decoration: none !important;
}

.a-respon:hover {
    color: black;
}

.css-i4bv87-MuiSvgIcon-root {
    font-size: 2rem !important;
}

a {
    text-decoration: none;
}