.paices-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto auto 2rem ;
    text-align: center;
}

.redes-form {
    font-size: 2rem;
}

